html {
  font-size: 16px;
  line-height: 1.15; }

@media (max-width: 1024px) {
  html {
    font-size: 15px; } }
@media (max-width: 992px) {
  html {
    font-size: 14px; } }
@media (max-width: 768px) {
  html {
    font-size: 12px; } }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300; }

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

a:hover {
  color: #e2e2e2; }

p {
  margin: 0; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #ffff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa; }

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .wrapper {
      padding: 10px; } }

.c-block {
  color: #282728; }

.c-block-grey {
  color: rgba(0, 0, 0, 0.64); }

.c-while {
  color: #fff; }

.c-green {
  color: #1C9B55; }

.c-green-hover:hover {
  color: #157640; }

.c-yellow {
  color: #FFB800; }

.c-red {
  color: #FF0000; }

.bgc-block {
  background-color: #282728; }

.bgc-while {
  background-color: #fff; }

.bgc-green {
  background-color: #1C9B55; }

.bgc-yellow {
  color: #FFB800; }

.line-height-24 {
  line-height: 1.5rem; }

.line-height-25 {
  line-height: 1.5625rem; }

.dropdown-menu {
  min-width: unset; }

.border-bottom-while-gray {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.border-bottom-green {
  border-bottom: 1px solid rgba(28, 155, 85, 0.5); }

.bgc-green-hover {
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .bgc-green-hover:hover {
    background: rgba(28, 155, 85, 0.5); }

.def-dropdown {
  width: auto;
  display: inline-block;
  min-width: 6.25rem;
  height: 2.5rem;
  position: relative;
  padding: 0.3125rem 0.325rem;
  border-bottom: 2px solid #fff; }
  .def-dropdown.active .dropdown-title .fa-angle-down {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .def-dropdown.active .dropdown-body {
    max-height: 30.75rem;
    opacity: 1; }
  .def-dropdown .dropdown-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.25rem;
    color: #FFFFFF;
    cursor: pointer; }
    .def-dropdown .dropdown-title .fa-angle-down {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .def-dropdown .dropdown-body {
    width: auto;
    position: absolute;
    height: auto;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: calc(100% + 2px);
    background: rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(0.625rem);
            backdrop-filter: blur(0.625rem);
    border-radius: 0 0 0.625rem 0.625rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0; }
    .def-dropdown .dropdown-body .item-dropdown-body {
      width: 180px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 0.625rem;
      margin-bottom: 0.75rem; }
      .def-dropdown .dropdown-body .item-dropdown-body a {
        font-size: 1.25rem;
        color: #FFFFFF; }

.def-btn {
  width: auto;
  padding: 0.3rem 1.875rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.375rem;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .def-btn:hover {
    background: #fff;
    color: #1C9B55; }

.form-select {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  height: 2.5rem;
  margin-top: 1rem;
  padding-left: 0;
  font-weight: 300;
  font-size: 1.125rem; }
  .form-select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #000; }

option {
  margin-top: 10px;
  padding: 5px 0; }

.def-input {
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .def-input .password {
    position: absolute;
    right: 5px;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer; }
  .def-input.active span {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.5;
    font-size: 0.9rem; }
  .def-input.active input {
    border-bottom: 2px solid #282728; }
  .def-input.black span {
    color: #282728; }
  .def-input.black input {
    border-bottom: 1px solid #282728;
    color: #282728; }
  .def-input span {
    font-weight: 300;
    font-size: 1.125rem;
    min-width: 190px;
    color: #fff;
    -webkit-transform: translateY(1.4375rem);
            transform: translateY(1.4375rem);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: text;
    opacity: 0.9; }
  .def-input input {
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.nav {
  width: 100%;
  height: 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1C9B55;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .nav.fix {
    position: fixed;
    background: #252d2a9e;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px); }
  .nav .nav-content {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1400px) {
      .nav .nav-content {
        padding: 0 15px; } }
    .nav .nav-content .logo {
      font-weight: 700;
      font-size: 2.8125rem;
      color: #FFFFFF;
      text-transform: uppercase; }
    .nav .nav-content .menu-site {
      height: 4.75rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .nav .nav-content .menu-site {
          display: none; } }
      .nav .nav-content .menu-site .def-dropdown {
        margin-right: 1.875rem;
        height: 4.75rem;
        border-bottom: 1px solid transparent;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        .nav .nav-content .menu-site .def-dropdown:hover {
          border-bottom: 1px solid #fff; }
        @media (max-width: 1260px) {
          .nav .nav-content .menu-site .def-dropdown .dropdown-title {
            font-size: 1rem; } }
        @media (max-width: 1260px) {
          .nav .nav-content .menu-site .def-dropdown {
            margin-right: 0.9375rem;
            font-size: 1rem; } }
        .nav .nav-content .menu-site .def-dropdown .dropdown-body {
          background: rgba(28, 155, 85, 0.82);
          -webkit-backdrop-filter: blur(15px);
                  backdrop-filter: blur(15px);
          border-radius: 0 0 10px 10px;
          color: #fff;
          top: 100%; }
    .nav .nav-content .mobile-menu-board {
      width: 30px;
      height: 40px;
      display: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 768px) {
        .nav .nav-content .mobile-menu-board {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      .nav .nav-content .mobile-menu-board.active span:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 10px; }
      .nav .nav-content .mobile-menu-board.active span:nth-of-type(2) {
        opacity: 0; }
      .nav .nav-content .mobile-menu-board.active span:nth-of-type(3) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: -10px; }
      .nav .nav-content .mobile-menu-board span {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        margin-bottom: 8px;
        background-color: #fff;
        position: relative; }
        .nav .nav-content .mobile-menu-board span:last-child {
          margin: 0; }
        .nav .nav-content .mobile-menu-board span:nth-of-type(1) {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          top: 0; }
        .nav .nav-content .mobile-menu-board span:nth-of-type(2) {
          opacity: 1; }
        .nav .nav-content .mobile-menu-board span:nth-of-type(3) {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          top: 0; }
    .nav .nav-content .menu-item {
      font-size: 1.25rem;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      margin-right: 1.875rem;
      height: 4.75rem;
      border-bottom: 1px solid transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      white-space: nowrap; }
      @media (max-width: 1260px) {
        .nav .nav-content .menu-item {
          font-size: 1rem; } }
      .nav .nav-content .menu-item:hover {
        border-bottom: 1px solid #fff; }

.mobile-menu {
  position: fixed;
  width: 100%;
  height: calc(100vh - 4.75rem);
  background: rgba(28, 155, 85, 0.67);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100;
  top: 4.75rem;
  left: -100%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1.875rem; }
  .mobile-menu.active {
    left: 0;
    opacity: 1; }
  .mobile-menu .mobile-menu-item {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
    .mobile-menu .mobile-menu-item a, .mobile-menu .mobile-menu-item span {
      padding: 10px 0;
      color: #FFFFFF;
      border-bottom: 1px solid #fff;
      display: block;
      cursor: pointer; }
      .mobile-menu .mobile-menu-item a i, .mobile-menu .mobile-menu-item span i {
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transform: rotate(0);
                transform: rotate(0); }
    .mobile-menu .mobile-menu-item.active a i, .mobile-menu .mobile-menu-item.active span i {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    .mobile-menu .mobile-menu-item.active .mobile-menu-item-body {
      max-height: 300px;
      opacity: 1;
      margin: 10px 0; }
  .mobile-menu .mobile-menu-item-body {
    width: 100%;
    padding-left: 1.25rem;
    max-height: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: hidden;
    opacity: 0; }

header {
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover; }
  @media (max-width: 576px) {
    header {
      height: auto; } }
  header.wiki {
    height: 30.3125rem; }
    @media (max-width: 576px) {
      header.wiki {
        height: 21.3125rem; } }
    header.wiki .search-block {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      left: 0;
      bottom: -2.5rem; }
      header.wiki .search-block label {
        width: 100%;
        max-width: 43.75rem;
        height: 5rem;
        position: relative;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        @media (max-width: 500px) {
          header.wiki .search-block label {
            max-width: calc(100% - 20px);
            margin: 0 10px; } }
        header.wiki .search-block label input {
          width: 100%;
          height: 100%;
          border: 0;
          border-bottom: 5rem;
          font-weight: 300;
          font-size: 1rem;
          text-align: start;
          color: #000000;
          padding-left: 2.5rem;
          background: #FFFFFF;
          -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50px; }
        header.wiki .search-block label i {
          font-size: 2.1875rem;
          position: absolute;
          right: 1.875rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          color: #282728; }
  header .header-solid {
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.75);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px); }
    header .header-solid .wrapper {
      padding-top: 12.5rem; }
      @media (max-width: 768px) {
        header .header-solid .wrapper {
          padding-top: 8.5rem; } }
    @media (max-width: 576px) {
      header .header-solid {
        padding-bottom: 10.5rem; } }
  header .header-video-block {
    width: 100%;
    height: 18.75rem;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/header-video.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-video-block .messages {
      width: 100%;
      height: auto;
      padding: 0.9375rem 1.0625rem;
      background: rgba(28, 155, 85, 0.67);
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 300;
      font-size: 0.85rem;
      line-height: 0.9375rem;
      color: #FFFFFF; }

.wrapper {
  position: relative;
  height: 100%; }
  .wrapper .warning {
    background: rgba(28, 155, 85, 0.5);
    border-radius: 1.25rem 1.25rem 0 0;
    text-align: center;
    padding: 1.5625rem 2.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25.3125rem;
    color: #fff; }
    @media (max-width: 1200px) {
      .wrapper .warning {
        left: 10px; } }
    @media (max-width: 576px) {
      .wrapper .warning {
        bottom: -126px;
        width: calc(100% - 20px);
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
    .wrapper .warning i {
      position: absolute;
      font-size: 30px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      top: 0;
      color: #fff; }

@media (max-width: 576px) {
  .start-now .warning {
    bottom: 0;
    width: calc(100% - 20px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.play-btn {
  width: 5rem;
  height: 5rem;
  background: rgba(28, 155, 85, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .play-btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .play-btn .play-btn-min {
    width: 3.75rem;
    height: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    border-radius: 50%;
    background: rgba(28, 155, 85, 0.67);
    font-size: 1.5rem; }

.start-now {
  width: 100%;
  height: 37.5rem;
  background: url(../images/start-now-bg.jpg) no-repeat center center;
  background-size: cover; }

.def-backdrop-filter {
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px); }

.price-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.price-block {
  width: calc((100% / 12) * 3 - 0.5rem);
  min-height: 32.75rem;
  background: #1C9B55;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-top: 5rem;
  padding: 6.25rem 1.875rem 1.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1200px) {
    .price-block {
      width: calc((100% / 12) * 6 - 0.5rem); } }
  @media (max-width: 576px) {
    .price-block {
      width: calc((100% / 12) * 12 - 0rem);
      margin: 50px 10px 0; } }
  .price-block .title {
    width: 80%;
    height: 3.4375rem;
    background: url(../images/price-title.png) no-repeat center center;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.2625rem;
    color: #1C9B55;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -13px;
    padding-bottom: 5px;
    text-align: center; }
  .price-block .sub-text {
    margin-top: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center; }

footer {
  width: 100%;
  height: 25rem;
  background: #2D2D2D;
  padding-top: 3rem;
  margin-top: 80px; }

.slider-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }
  @media (max-width: 576px) {
    .slider-block {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .slider-block .rounded-slider {
    min-width: 4.5625rem;
    height: 4.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    border: 2px solid #282728;
    margin-right: 0.625rem;
    font-size: 1.875rem;
    color: #282728; }
    @media (max-width: 576px) {
      .slider-block .rounded-slider {
        margin-right: 0; } }

.prev-slider, .next-slider {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #282728;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: -3rem;
  z-index: 10; }
  .prev-slider:hover, .next-slider:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }

.next-slider {
  right: 0; }

.prev-slider {
  left: 0; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
  bottom: -2.5rem; }
  .slick-dots li {
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 20px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li.slick-active {
      background: #E2E2E2; }
      .slick-dots li.slick-active button {
        background: #fff; }
    .slick-dots li button {
      width: 10px;
      height: 10px;
      background: #E2E2E2;
      font-size: 0;
      border: 0;
      border-radius: 30px;
      -webkit-transition: 0.2s;
      transition: 0.2s; }

.user-page {
  position: relative;
  top: -14.375rem; }
  @media (max-width: 768px) {
    .user-page {
      top: -22rem; } }
  .user-page .user-navbar {
    background: #1C9B55;
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.625rem;
    padding: 0 60px;
    margin-bottom: 15px; }
    @media (max-width: 768px) {
      .user-page .user-navbar {
        display: none; } }
    .user-page .user-navbar .item {
      font-weight: 700;
      font-size: 1.25rem;
      color: #FFFFFF;
      margin-right: 2.75rem;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      white-space: nowrap; }
      .user-page .user-navbar .item.active {
        position: relative; }
        .user-page .user-navbar .item.active:after {
          content: "";
          width: 15px;
          height: 13px;
          background: #1C9B55;
          -webkit-clip-path: polygon(50% 80%, 0 0, 100% 0);
                  clip-path: polygon(50% 80%, 0 0, 100% 0);
          position: absolute;
          left: 50%;
          top: 100%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
      .user-page .user-navbar .item:hover {
        color: #e2e2e2; }
  .user-page .user-page-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    @media (max-width: 768px) {
      .user-page .user-page-body {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .user-page .user-page-body .left-block {
      width: 18.75rem;
      height: 18.75rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff;
      font-weight: 600;
      font-size: 9.375rem;
      color: #000000;
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 0 20px; }
      @media (max-width: 768px) {
        .user-page .user-page-body .left-block {
          width: 100%;
          color: #fff;
          background: transparent;
          border-radius: 0;
          -webkit-box-shadow: unset;
                  box-shadow: unset; } }
      @media (max-width: 576px) {
        .user-page .user-page-body .left-block {
          padding-top: 3.125rem; } }
    .user-page .user-page-body .right-block {
      width: calc(100% - 18.75rem);
      min-height: 18.75rem;
      background: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
      border-radius: 0 0 20px 0; }
      @media (max-width: 768px) {
        .user-page .user-page-body .right-block {
          width: 100%;
          -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0 0 20px 20px; } }
  .user-page .table-lic {
    width: 100%;
    min-width: 50.25rem; }

.border-bottom-black-grey {
  border-bottom: 1px solid #C4C4C4; }
