html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

a:hover{
  color: #e2e2e2;
}

@function printFlexType($type) {
  @if $type == 's' {
    @return start;
  } @else if $type == 'c' {
    @return center;
  } @else if $type == 'e' {
    @return end;
  } @else if $type == 'sb' {
    @return space-between;
  } @else if $type == 'sa' {
    @return space-around;
  } @else if $type == 'st' {
    @return stretch;
  }
}

@mixin col($colCount, $margin: 0rem) {
  width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: printFlexType($x);
  align-items: printFlexType($y);
}

@mixin bg() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;



p {
  margin: 0;
}
a{
  text-decoration: none;
}

$c-black: #282728;
$c-black-hover: #3a3838;
$c-green: #1C9B55;
$c-green-hover: #157640;
$c-while: #fff;
$c-while-hover: #e8e8e8;
$c-grey: #a37b51;
$c-grey-hover: #8f6e47;




::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa;
}

.wrapper {
  $width: 1200px;
  width: 100%;
  max-width: $width;
  margin: 0 auto;
  @media (max-width: $width) {
    padding: 10px;
  }
}


.c-block{
  color: $c-black;
}
.c-block-grey{
  color: rgba(0, 0, 0, 0.64);
}

.c-while{
  color: $c-while;
}

.c-green{
  color: $c-green;
}
.c-green-hover:hover{
  color: $c-green-hover;
}

.c-yellow{
  color: #FFB800;
}


.bgc-block{
  background-color: $c-black;
}

.bgc-while{
  background-color: $c-while;
}

.bgc-green{
  background-color: $c-green;
}

.bgc-yellow{
  color: #FFB800;
}

.line-height-24{
  line-height: 1.5rem;
}

.line-height-25{
  line-height: 1.5625rem;
}

.dropdown-menu {
  min-width: unset;
}

.border-bottom-while-gray{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.def-dropdown{
  width: auto;
  display: inline-block;
  min-width: 6.25rem;
  height: 2.5rem;
  position: relative;
  padding: 0.3125rem 0.325rem;
  border-bottom: 2px solid #fff;
  &.active{
    .dropdown-title{
      .fa-angle-down{
        transform: rotate(-180deg);
      }
    }
    .dropdown-body{
      max-height: 30.75rem;
      opacity: 1;
    }
  }
  .dropdown-title{
    width: 100%;
    height: 100%;
    @include flex('sb', 'c');
    font-size: 1.25rem;
    color: #FFFFFF;
    cursor: pointer;
    .fa-angle-down{
      transform: rotate(0);
      transition: 0.2s;
    }
  }
  .dropdown-body{
    width: auto;
    position: absolute;
    height: auto;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: calc(100% + 2px);
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.625rem);
    border-radius: 0 0 0.625rem 0.625rem;
    transition: 0.2s;
    opacity: 0;
    .item-dropdown-body{
      width: 180px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 0.625rem;
      margin-bottom: 0.75rem;
      a{
        font-size: 1.25rem;
        color: #FFFFFF;
      }
    }
  }
}



.def-btn{
  width: auto;
  padding: 0.3rem 1.875rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.375rem;
  transition: 0.2s;
  &:hover{
    background: #fff;
    color: $c-green;
  }
}

.def-input{
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  &.active{
    span{
      transform: translateY(0);
      opacity: 0.5;
      font-size: 0.9rem;
    }
    input{
      border-bottom: 2px solid $c-black;
    }
  }
  span{
    font-weight: 300;
    font-size: 18px;
    min-width: 190px;
    color: #fff;
    transform: translateY(23px);
    transition: 0.2s;
    cursor: text;
    opacity: 0.9;
  }
  input{
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    transition: 0.3s;
  }
}


$nav-height: 4.75rem;
.nav{
  width: 100%;
  height: $nav-height;
  @include flex('c', 'c');
  border-bottom: 1px solid $c-green;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.2s;
  &.fix{
    position: fixed;
    background: #252d2a9e;
    backdrop-filter: blur(12px);
  }
  .nav-content{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    @include flex('sb', 'c');
    .logo{
      font-weight: 700;
      font-size: 2.8125rem;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    .menu-site{
      height: $nav-height;
      @include flex('sb', 'c');
      .def-dropdown{
        margin-right: 1.875rem;
        height: $nav-height;
        border-bottom: 1px solid transparent;
        transition: 0.2s;
        &:hover{
          border-bottom: 1px solid #fff;
        }
        .dropdown-body{
          background: rgba(28, 155, 85, 0.82);
          backdrop-filter: blur(15px);
          border-radius: 0 0 10px 10px;
          color: #fff;
          top: 100%;
        }
      }
    }
    .menu-item{
      font-size: 1.25rem;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      margin-right: 1.875rem;
      height: $nav-height;
      border-bottom: 1px solid transparent;
      @include flex('c', 'c');
      transition: 0.2s;
      &:hover{
        border-bottom: 1px solid #fff;
      }
    }
  }
}


header{
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  .header-solid{
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.75);
    backdrop-filter: blur(20px);
  }

  .header-video-block{
    width: 100%;
    height: 18.75rem;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    @include bg;
    background-image: url(../images/header-video.png);
    @include flex('c', 'c');
    .messages{
      width: 100%;
      height: auto;
      padding: 0.9375rem 1.0625rem;
      background: rgba(28, 155, 85, 0.67);
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 300;
      font-size: 0.85rem;
      line-height: 0.9375rem;
      color: #FFFFFF;
    }
  }
}

.wrapper{
  position: relative;
  height: 100%;
  .warning{
    background: rgba(28, 155, 85, 0.5);
    border-radius: 1.25rem 1.25rem 0 0;
    text-align: center;
    padding: 1.5625rem 2.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25.3125rem;
    color: #fff;
    i{
      position: absolute;
      font-size: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 0;
      color: #fff;
    }
  }
}

.play-btn{
  width: 5rem;
  height: 5rem;
  background: rgba(28, 155, 85, 0.67);
  @include flex('c', 'c');
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    transform: scale(1.1);
  }
  .play-btn-min{
    width: 3.75rem;
    height: 3.75rem;
    @include flex('c', 'c');
    color: #fff;
    border-radius: 50%;
    background: rgba(28, 155, 85, 0.67);
    font-size: 1.5rem;
  }
}

.start-now{
  width: 100%;
  height: 37.5rem;
  background: url(../images/start-now-bg.jpg) no-repeat center center;
  background-size: cover;
}
.def-backdrop-filter{
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.75);
  backdrop-filter: blur(20px);
}


.price-section{
  @include flex('sb', 'c');
}

.price-block{
  @include col(3, 0.5rem);
  height: 32.75rem;
  background: #1C9B55;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-top: 5rem;
  padding: 100px 30px 20px 30px;
  .title{
    width: 80%;
    height: 3.4375rem;
    background: url(../images/price-title.png) no-repeat center center;
    background-size: contain;
    @include flex('c', 'c');
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.2625rem;
    color: #1C9B55;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    padding-bottom: 5px;
    text-align: center;
  }
  .sub-text{
    margin-top: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
}


footer{
  width: 100%;
  height: 25rem;
  background: #2D2D2D;
  padding-top: 3rem;
  margin-top: 80px;
}
