html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

@media (max-width: 1024px) {
  html {
    font-size: 15px; } }
@media (max-width: 992px) {
  html {
    font-size: 14px; } }
@media (max-width: 768px) {
  html {
    font-size: 12px; } }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300; }

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

a:hover {
  color: #e2e2e2; }

p {
  margin: 0; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #ffff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .wrapper {
      padding: 10px; } }

.c-block {
  color: #282728; }

.c-block-grey {
  color: rgba(0, 0, 0, 0.64); }

.c-while {
  color: #fff; }

.c-green {
  color: #1C9B55; }

.c-green-hover:hover {
  color: #157640; }

.c-yellow {
  color: #FFB800; }

.bgc-block {
  background-color: #282728; }

.bgc-while {
  background-color: #fff; }

.bgc-green {
  background-color: #1C9B55; }

.bgc-yellow {
  color: #FFB800; }

.line-height-24 {
  line-height: 1.5rem; }

.line-height-25 {
  line-height: 1.5625rem; }

.dropdown-menu {
  min-width: unset; }

.border-bottom-while-gray {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.def-dropdown {
  width: auto;
  display: inline-block;
  min-width: 6.25rem;
  height: 2.5rem;
  position: relative;
  padding: 0.3125rem 0.325rem;
  border-bottom: 2px solid #fff; }
  .def-dropdown.active .dropdown-title .fa-angle-down {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .def-dropdown.active .dropdown-body {
    max-height: 30.75rem;
    opacity: 1; }
  .def-dropdown .dropdown-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.25rem;
    color: #FFFFFF;
    cursor: pointer; }
    .def-dropdown .dropdown-title .fa-angle-down {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .def-dropdown .dropdown-body {
    width: auto;
    position: absolute;
    height: auto;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: calc(100% + 2px);
    background: rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(0.625rem);
            backdrop-filter: blur(0.625rem);
    border-radius: 0 0 0.625rem 0.625rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0; }
    .def-dropdown .dropdown-body .item-dropdown-body {
      width: 180px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 0.625rem;
      margin-bottom: 0.75rem; }
      .def-dropdown .dropdown-body .item-dropdown-body a {
        font-size: 1.25rem;
        color: #FFFFFF; }

.def-btn {
  width: auto;
  padding: 0.3rem 1.875rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.375rem;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .def-btn:hover {
    background: #fff;
    color: #1C9B55; }

.def-input {
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .def-input.active span {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.5;
    font-size: 0.9rem; }
  .def-input.active input {
    border-bottom: 2px solid #282728; }
  .def-input span {
    font-weight: 300;
    font-size: 18px;
    min-width: 190px;
    color: #fff;
    -webkit-transform: translateY(23px);
            transform: translateY(23px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: text;
    opacity: 0.9; }
  .def-input input {
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.nav {
  width: 100%;
  height: 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1C9B55;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .nav.fix {
    position: fixed;
    background: #252d2a9e;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px); }
  .nav .nav-content {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav .nav-content .logo {
      font-weight: 700;
      font-size: 2.8125rem;
      color: #FFFFFF;
      text-transform: uppercase; }
    .nav .nav-content .menu-site {
      height: 4.75rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav .nav-content .menu-site .def-dropdown {
        margin-right: 1.875rem;
        height: 4.75rem;
        border-bottom: 1px solid transparent;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        .nav .nav-content .menu-site .def-dropdown:hover {
          border-bottom: 1px solid #fff; }
        .nav .nav-content .menu-site .def-dropdown .dropdown-body {
          background: rgba(28, 155, 85, 0.82);
          -webkit-backdrop-filter: blur(15px);
                  backdrop-filter: blur(15px);
          border-radius: 0 0 10px 10px;
          color: #fff;
          top: 100%; }
    .nav .nav-content .menu-item {
      font-size: 1.25rem;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      margin-right: 1.875rem;
      height: 4.75rem;
      border-bottom: 1px solid transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .nav .nav-content .menu-item:hover {
        border-bottom: 1px solid #fff; }

header {
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover; }
  header .header-solid {
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.75);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px); }
  header .header-video-block {
    width: 100%;
    height: 18.75rem;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/header-video.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-video-block .messages {
      width: 100%;
      height: auto;
      padding: 0.9375rem 1.0625rem;
      background: rgba(28, 155, 85, 0.67);
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 300;
      font-size: 0.85rem;
      line-height: 0.9375rem;
      color: #FFFFFF; }

.wrapper {
  position: relative;
  height: 100%; }
  .wrapper .warning {
    background: rgba(28, 155, 85, 0.5);
    border-radius: 1.25rem 1.25rem 0 0;
    text-align: center;
    padding: 1.5625rem 2.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25.3125rem;
    color: #fff; }
    .wrapper .warning i {
      position: absolute;
      font-size: 30px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      top: 0;
      color: #fff; }

.play-btn {
  width: 5rem;
  height: 5rem;
  background: rgba(28, 155, 85, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .play-btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .play-btn .play-btn-min {
    width: 3.75rem;
    height: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    border-radius: 50%;
    background: rgba(28, 155, 85, 0.67);
    font-size: 1.5rem; }

.start-now {
  width: 100%;
  height: 37.5rem;
  background: url(../images/start-now-bg.jpg) no-repeat center center;
  background-size: cover; }

.def-backdrop-filter {
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px); }

.price-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.price-block {
  width: calc((100% / 12) * 3 - 0.5rem);
  height: 32.75rem;
  background: #1C9B55;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-top: 5rem;
  padding: 100px 30px 20px 30px; }
  .price-block .title {
    width: 80%;
    height: 3.4375rem;
    background: url(../images/price-title.png) no-repeat center center;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.2625rem;
    color: #1C9B55;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -13px;
    padding-bottom: 5px;
    text-align: center; }
  .price-block .sub-text {
    margin-top: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center; }

footer {
  width: 100%;
  height: 25rem;
  background: #2D2D2D;
  padding-top: 3rem;
  margin-top: 80px; }
